In [1]:
# imports
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pprint import pprint

import math
import time

In [2]:
data1=pd.read_csv('E:/SEMESTER 6/ML-CS60050/Assgnment/Third/AllBooks_baseline_DTM_Labelled.csv') #importing the data
n=len(data1.axes[0]) #to find number of rows in each attribute
print('Number of rows are: ', n)
print('Number of Columns are: ', len(data1.axes[1]))

Number of rows are:  590
Number of Columns are:  8267

In [3]:
print(data1.iloc[0:20,:])

       Unnamed: 0  foolishness  hath  wholesome  takest  feelings  anger  \
0    Buddhism_Ch1            0     0          0       0         0      0
1    Buddhism_Ch2            0     0          0       0         0      0
2    Buddhism_Ch3            0     0          0       0         0      0
3    Buddhism_Ch4            0     0          0       0         0      0
4    Buddhism_Ch5            0     0          0       0         0      0
5    Buddhism_Ch6            0     0          0       0         0      0
6    Buddhism_Ch7            0     0          0       0         0      0
7    Buddhism_Ch8            0     0          0       0         0      0
8    Buddhism_Ch9            0     0          0       0         0      0
9   Buddhism_Ch10            0     0          0       0         0      0
10  Buddhism_Ch11            0     0          0       0         0      0
11  Buddhism_Ch12            0     0          0       0         0      0
12  Buddhism_Ch13            0     0          0       0         0      0
13  Buddhism_Ch14            0     0          0       0         0      0
14  Buddhism_Ch15            0     0          0       0         0      0
15  Buddhism_Ch16            0     0          0       0         0      0
16  Buddhism_Ch17            0     0          0       0         0      0
17  Buddhism_Ch18            0     0          0       0         0      0
18  Buddhism_Ch19            0     0          0       0         0      0
19  Buddhism_Ch20            0     0          0       0         0      0

    vaivaswata  matrix  kindled  ...  erred  thinkest  modern  reigned  \
0            0       0        0  ...      0         0       0        0
1            0       0        0  ...      0         0       0        0
2            0       0        0  ...      0         0       0        0
3            0       0        0  ...      0         0       0        0
4            0       0        0  ...      0         0       0        0
5            0       0        0  ...      0         0       0        0
6            0       0        0  ...      0         0       0        0
7            0       0        0  ...      0         0       0        0
8            0       0        0  ...      0         0       0        0
9            0       0        0  ...      0         0       0        0
10           0       0        0  ...      0         0       0        0
11           0       0        0  ...      0         0       0        0
12           0       0        0  ...      0         0       0        0
13           0       0        0  ...      0         0       0        0
14           0       0        0  ...      0         0       0        0
15           0       0        0  ...      0         0       0        0
16           0       0        0  ...      0         0       0        0
17           0       0        0  ...      0         0       0        0
18           0       0        0  ...      0         0       0        0
19           0       0        0  ...      0         0       0        0

    sparingly  visual  thoughts  illumines  attire  explains
0           0       0         0          0       0         0
1           0       0         0          0       0         0
2           0       0         0          0       0         0
3           0       0         0          0       0         0
4           0       0         0          0       0         0
5           0       0         0          0       0         0
6           0       0         0          0       0         0
7           0       0         0          0       0         0
8           0       0         0          0       0         0
9           0       0         0          0       0         0
10          0       0         0          0       0         0
11          0       0         0          0       0         0
12          0       0         0          0       0         0
13          0       0         0          0       0         0
14          0       0         0          0       0         0
15          0       0         0          0       0         0
16          0       0         0          0       0         0
17          0       0         0          0       0         0
18          0       0         0          0       0         0
19          0       0         0          0       0         0

[20 rows x 8267 columns]

##  Dataset Preparation:

In [4]:
data1.drop([13], inplace = True) # removing "Buddhism_Ch14" from Dataframe
#print(data.iloc[0:20,0:5])

In [5]:
data1.reset_index(drop=True, inplace=True) # to adjust indices accordingly
print(data1.iloc[0:20,0:5])

       Unnamed: 0  foolishness  hath  wholesome  takest
0    Buddhism_Ch1            0     0          0       0
1    Buddhism_Ch2            0     0          0       0
2    Buddhism_Ch3            0     0          0       0
3    Buddhism_Ch4            0     0          0       0
4    Buddhism_Ch5            0     0          0       0
5    Buddhism_Ch6            0     0          0       0
6    Buddhism_Ch7            0     0          0       0
7    Buddhism_Ch8            0     0          0       0
8    Buddhism_Ch9            0     0          0       0
9   Buddhism_Ch10            0     0          0       0
10  Buddhism_Ch11            0     0          0       0
11  Buddhism_Ch12            0     0          0       0
12  Buddhism_Ch13            0     0          0       0
13  Buddhism_Ch15            0     0          0       0
14  Buddhism_Ch16            0     0          0       0
15  Buddhism_Ch17            0     0          0       0
16  Buddhism_Ch18            0     0          0       0
17  Buddhism_Ch19            0     0          0       0
18  Buddhism_Ch20            0     0          0       0
19  Buddhism_Ch21            0     0          0       0

In [6]:
#data.iloc[:,0] = data.iloc[:,0].str.replace(r'_Ch$', '')
data1["Unnamed: 0"]=data1["Unnamed: 0"].str.replace(r'_Ch', '') # to remove "_Ch" 
data1["Unnamed: 0"] = data1["Unnamed: 0"].str.replace('\d+', '') # to remove number after book name
print(data1.iloc[0:20,0:5])

   Unnamed: 0  foolishness  hath  wholesome  takest
0    Buddhism            0     0          0       0
1    Buddhism            0     0          0       0
2    Buddhism            0     0          0       0
3    Buddhism            0     0          0       0
4    Buddhism            0     0          0       0
5    Buddhism            0     0          0       0
6    Buddhism            0     0          0       0
7    Buddhism            0     0          0       0
8    Buddhism            0     0          0       0
9    Buddhism            0     0          0       0
10   Buddhism            0     0          0       0
11   Buddhism            0     0          0       0
12   Buddhism            0     0          0       0
13   Buddhism            0     0          0       0
14   Buddhism            0     0          0       0
15   Buddhism            0     0          0       0
16   Buddhism            0     0          0       0
17   Buddhism            0     0          0       0
18   Buddhism            0     0          0       0
19   Buddhism            0     0          0       0

In [7]:
#data=data1.copy()
data2=data1.drop(data1.columns[0],axis='columns')
data=data2.iloc[:,:].values
data=np.array(data)  # tranforming into numpy array
data=np.float64(data)   
num_rows=data.shape[0]
num_columns=data.shape[1]
#num_rows= len(data.axes[0])           #data.shape[0]
#num_columns= len(data.axes[1])          #data.shape[1]
for j in range(0,num_columns):  #Calculating the tf idf score for each data point using the frequency 
    count=0
    for i in range(0,num_rows):
        #if data[i][j]>0 :
            #count+=data[i][j]>0
    	count+=data[i][j]
    for i in range(0,num_rows):
        data[i][j]=1.0*data[i][j]*math.log(1.0*(1+num_rows)/(1+count))
for i in range(0,num_rows):   #Normalizing each datapoint by dividing by the magnitude
	magnitude=0
	for j in range(0,num_columns):
		magnitude+=data[i][j]*data[i][j]
	magnitude=math.sqrt(magnitude)
	if(magnitude==0):  #There is a single point data point with magnitude zero or which contains an empty row
		continue
	for j in range(0,num_columns):
		data[i][j]/=magnitude
#for i in range(0,num_rows):
	#for j in range(0,num_columns):
print(data[0:20,0:15])

[[0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.0332543 0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]
 [0.        0.        0.        0.        0.        0.        0.
  0.        0.        0.        0.        0.        0.        0.
  0.       ]]